nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

nav .nav-content {
    /* height: 100%; */
    margin: 0 3%;
    display: flex;
}

nav .logo {
    padding-top: 10px;
    width: 80%;
}

.build-workspace-1 {
    background-color: rgb(255, 255, 255);
    width: 700px;
    height: 70%;
    text-align: center;
    
    position: absolute;
    left: 50%;
    top: 10%;

    transform: translate(-50%);

    display: flex;
    flex-direction:column;
}

h1 {
    margin: 80px 0 40px;
    display: block;
}

.form-label {
    display: block;
    text-align: left;
    width: 600px;
}

#workspaceName {
    height: 50px;
	width: 680px;
	/* border: 1px solid rgb(52, 52, 52); */
    border: 1px solid rgba(183, 208, 255, 0.844);
    border-radius: 8px;
    padding: 0px 10px;
    margin-top: 10px;
    margin-bottom: 30px;
}


.invite-email {
    display: block;
    text-align: left;
    width: 600px;
    margin-top: 40px;
}

.form-buttons {
    margin-top: 50px;
}

.button-cancel {
    height: 50px;
	width: 125.925px;
    text-decoration: none solid rgb(139, 142, 149);
    /* color: #8b8e95; */
    color: #b9babe;
    background-color: #ffffff;
    text-align: center;
    vertical-align: middle;
    /* border: 1px solid rgb(185, 186, 190); */
    border: 1px solid #b9babe;
    border-radius: 3px;

    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;

    margin-right: 10px;
}

.button-cancel:hover {
    border: 1px solid #8b8e95;
    color: #8b8e95;
}

.button-confirm {
    height: 50px;
	width: 125.925px;
    background-color: #478bff;
    color: aliceblue;
    text-align: center;
    vertical-align: middle;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 3px;
    margin-left: 10px;
}

.button-confirm:hover {
    background-color: #1e68f6;
    border: 1px solid rgb(255, 255, 255);
}
