<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
  	<typeAliases>
  		<typeAlias type="com.khfinal.devstairs.user.dto.UserDto" alias="userDto"/>
  		<typeAlias type="com.khfinal.devstairs.user.dto.TeamCodeDto" alias="teamcodeDto"/>
  		<typeAlias type="com.khfinal.devstairs.user.dto.TeamDto" alias="teamDto"/>
  		<typeAlias type="com.khfinal.devstairs.board.dto.BoardDto" alias="boardDto"/>
  		<typeAlias type="com.khfinal.devstairs.board.dto.BoardReplyDto" alias="boardReplyDto"/>
  		<typeAlias type="com.khfinal.devstairs.board.dto.CategoryDto" alias="categoryDto"/>
  		<typeAlias type="com.khfinal.devstairs.user.dto.InviteDto" alias="inviteDto"/>
  		<typeAlias type="com.khfinal.devstairs.user.dto.InviteTeamDto" alias="inviteTeamDto"/>
  		
  	</typeAliases>
  	<mappers>
  		<mapper resource="/mybatis/user-mapper.xml"/>
  		<mapper resource="/mybatis/team-mapper.xml"/>
  		<mapper resource="/mybatis/board-mapper.xml"/>
  		<mapper resource="/mybatis/reply-mapper.xml"/>
  	</mappers>
  </configuration>