<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="boardReply">

	<select id="ReplyList" parameterType = "teamDto" resultType="boardReplyDto">
 	SELECT * FROM BOARD_REPLY
 	WHERE BR_NO=#{br_no} 
 	ORDER BY BR_NO DESC
	
 	</select>
 	
 
 	
 	<insert id="ReplyWrite"   parameterType="boardReplyDto">
	 	INSERT INTO BOARD_REPLY
	 	VALUES(BOARD_REPLY_NUM.NEXTVAL, #{br_no}, #{br_userid}, #{br_teamcode}, #{br_content}, SYSDATE)
 	</insert>
 	
 	<update id="ReplyUpdate" parameterType="boardReplyDto">
	 	UPDATE BOARD_REPLY
	 	SET BR_CONTENT=#{br_content}
	 	WHERE BR_INDEX=#{br_index} 
 	</update>
 	
 	
 	
 	<delete id="ReplyDelete" parameterType="int">
	 	DELETE FROM BOARD_REPLY
	 	WHERE BR_INDEX=#{br_index}	
 	</delete>
</mapper>